
.header{
      background-image: url("../img/images.png");
      background-size: cover;
      overflow: hidden;
      margin-left: -10%;
      margin-right: -10%;

  }
  .dice {
    padding: 150px;
    text-align: bottom;
    color: white;
    font-size: 30px;
  }
    .play {
        margin-left: -10%;
        margin-right: -10%;
        text-align: center;
        color: black;
        font-family: serif;
        font-size: 20px;
      }

      #human{
        background-image: url("../img/human.jpeg");
        background-size: cover;
        padding: 100px;
        margin-right: -30px;

}
    #computer{
      background-image: url("../img/comp.jpg");
      background-size: cover;
      padding: 100px;
      margin-right: -30px;
    }
    #human:hover,
    #computer:hover {
        color:blue;
        opacity:0.7;
      }
.well{
  background-color: #791105;
  font-family: fantasy;
  font-size: 40px;
  color: black;
}
.space{
  text-align: right;
}
#playing{
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}
.jumbotron{
  background-color: #02423C;
  color: black;
}
